# Handling Missing & Infinite Values

## .isnan()

<p>- NaN ---> Not a number<br>- Always return boolean (True/Flase)</p>

In [1]:
import numpy as np

In [4]:
array_1 = np.array([55, np.nan, 15, 20, np.nan, 82])
print(np.isnan(array_1))

[False  True False False  True False]

## .nan_to_num()

<p>Use to handle missing values in data.</p>

In [5]:
array_2 = np.array([55, np.nan, 15, 20, np.nan, 82])
cleaned_array_2 = np.nan_to_num(array_2, nan=0)
print(cleaned_array_2)

[55.  0. 15. 20.  0. 82.]

## .isinf()

<p>To check if there any infinite value in array, and it will return bollean.</p>

In [6]:
array_3 = np.array([55, np.nan, 15, 20, np.nan, 82, -np.inf, 111, np.inf])
print(np.isinf(array_3))

[False False False False False False  True False  True]

In [7]:
array_4 = np.array([55, np.nan, 15, 20, np.nan, 82, -np.inf, 111, np.inf])
print(np.isinf(array_4))
cleaned_array_4 = np.nan_to_num(array_4, posinf=1000, neginf=-1000, nan=1)
print(cleaned_array_4)

[False False False False False False  True False  True]
[   55.     1.    15.    20.     1.    82. -1000.   111.  1000.]